	body { 
		color: #000000;
		background-color: #d9f0ff;
		background: url(https://images.pexels.com/photos/19670/pexels-photo.jpg?cs=srgb&dl=pexels-miguel-%C3%A1-padri%C3%B1%C3%A1n-19670.jpg&fm=jpg&_gl=1*1q605ve*_ga*MzA3MDUwOTA5LjE3MTIyOTU5OTY.*_ga_8JE65Q40S6*MTcxMjI5NTk5NS4xLjEuMTcxMjI5NjAxNS4wLjAuMA..);
		background-repeat: repeat;
}	

	h1, h2 {
		font-family: Georgia, Arial, Helvetica, sans-serif;
}

	h1 {
		color: #000000;
		text-align: center;
		font-size: 35px;
}

	h2 {
		color: #000000;
		font-size: 25px;
		font-weight: bold;
		
}
	h3 {
		color: #000000;
		font-family: Georgia, Arial, Helvetica, sans-serif;
		font-size: 20px;
		font-weight: bold;
		font-style: italic;
}


    /*	footer {
 		 text-align: center;
  		 padding: 3px;
 		 background-color: DarkSalmon;
 		 color: white; 
}	*/


	p {
		color: #000000;
		font-family: Georgia, Arial, Helvetica, sans-serif;
		font-size: 18px;
		font-weight: normal;
	
}

	ul {
		color: #000000;
		margin-left: 40px;

	}

	li {
		color: #000000;
		font-family: Georgia, Arial, Helvetica, sans-serif;
		font-size: 18px;
		font-weight: normal;
		
}

	a {
		text-decoration: normal;
}

	a:hover, a:focus {
		color:rgb(0, 68, 255);
	
}

	a.link {
		color: rgb(0, 68, 255);;
}

	a:visited {
		color:rgb(0, 68, 255);
}

	a.active {
		color:rgb(0, 68, 255); 
}

	.container {
		display: flex;
		justify-content: left;
		margin-left: 50px;
}

	.image {
		flex-basis: 20%
		
}

	.text {
		font-size: 20px;
		padding-left: 20px;
		margin-left: 40px;
		margin-right: 200px;	
}	


