.left {
   /* background-color: rgb(255, 171, 87); */
    background-color: rgb(163, 219, 238);
    position: fixed;
    width: 50%;
    height: 100%;
    top: 0;
    left: 0;
}

.right {
   /* background-color: lavender; */
    background-image: url('../img/background4.jpg');
    position: fixed;
    width: 70%;
    height: 100%;
    top: 0;
    right: 0;
}

.ground {
    background-color:rgb(255, 113, 31);
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 20px;

}

.mammamia {
    position: absolute;
    bottom: 200px;
    left: 55%;
    background: url('../img/mammamia-removebg-preview.png') no-repeat 0 0;
    width: 442px; 
    height: 341px;
    margin-left: 10px ;
    display: none;
}
.mammamia.show {
    display: block;
}

.vedäkäteen {
    position: absolute;
    bottom: 220px;
    left: 50%;
    background: url('../img/vedäkäteen.png') no-repeat 0 0;
    width: 245px;
    height: 256px;
    margin-left: -350px ;
    display: none;
}

.vedäkäteen.show {
    display: block;
}

.rocket {
    position: absolute;
    left: 50%;
    bottom: -10px;
    width: 246px;
    height: 305px;
    margin-left: -150px ;
    background: url('../img/marjo1-removebg-preview.png');
    transition: bottom  5000ms;
}

body.body-state1 .rocket {
    transition: none;
}

/*rocket bg image*/
body.body-state2 .rocket {
    background-image: url('../img/marjo2-removebg-preview.png');
    width: 266px;
    height: 304px;
}

body.body-state3 .rocket,
body.body-state4 .rocket {
    bottom: 1000px;
    background-image: url('../img/marjo2-removebg-preview.png');
}

body.body-state5 .rocket {
    background-image: url('../img/kaboom.gif');
    width: 200px;
    height: 200px;
}

a.button {

}

.state1,
.state2,
.state3,
.state4,
.state5 {
    display: none;
}

body.body-state1 .state1{display: block;}
body.body-state2 .state2{display: block;}
body.body-state3 .state3{display: block;}
body.body-state4 .state4{display: block;}
body.body-state5 .state5{display: block;}

a {

}