body {
    background-color: rgb(188, 182, 212);
    margin: 0px;
    padding: 0px;
}

h2 {
    font-size: 50px;
}

h3  {
    font-size: 26px;
    
}

h4 {
    font-size: 20px;
}

p {
    font-size: 18px;
}

 /*ul li {
    display: inline;
} */


.header-main {
    background-color: white;
    margin: 0px;
    margin-top: -20px;
    padding: 0px;
    height: 100px;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: flex-start;
    align-content: normal;

}

.container {
    display: flex;
    padding-top: 15px;
    padding-left: 7%;
    
}

.div-1 {
    display: flex;
    padding-right: 50%;
}

.div-2 {
    display: flex;
    margin-right: 10px;
}

.div-2 ul li {
    display: inline;
}

.button {
  background-color: #bf88ff;
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;
}

.button:hover {
    background-color: darkblue;
}

/*sisältö kuvan viereen*/
.container-2 {
    display: flex;
    padding-top: 80px;
    padding-left: 7%;
}
.image {
    padding: 50px;
    padding-left: 100px;
    flex-basis: 20%
}

.text {
    font-size: 20px;
    padding-left: 20px;
    padding-top: 40px;
    margin-left: 40px;
    margin-right: 200px;
    display: block;	
}	

.icons {
    padding-top: 20px;
    word-spacing: 30px;

}
/*sisältö kuvan viereen loppuu*/

/*Koulutus ja kurssit sivu*/

.grid {
    display: grid;
    grid-template-columns: auto auto;
}

.container3 {
    font-size: ;
    margin-left: 90px;

}

.kurssit {
    margin-right: 50%;
}

.kurssit ul li {
    list-style-type: square;
}

/* skill taulukko*/
* {box-sizing: border-box}

.skill-taulukko {
    margin-right: 70px;
}
 
.container4 {
    width: 95%;
    background-color: #F1EBE4;
}
 
.skills {
    text-align: right;
    padding-bottom: 10px;
    color: white;
}
 
.html {
    width: 40%;
    background-color: #4c00ff;
    height: 25px;
}
.css {
    width: 30%;
    background-color: #3e3bff;
    height: 25px;
}
 
.js {
    width: 15%;
    background-color: #7bc4ff;
    height: 25px;
}
/*skill taulukko loppuu*/
/*Koulutus ja kurssit sivu loppuu*/